# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/
ENV/

# Banco de dados
instance/
*.db
*.sqlite3

# Env vars
.env
.env.local

# MacOS
.DS_Store

# Uploads do usuário (Avatares e Comprovantes)
static/uploads/

# IDE e logs
.vscode/
.idea/
*.log
.gemini/
